@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --foreground: black;
  --bg-theme: #F4F4F4;
  --text-color-theme: black;
}

[data-theme="dark"] {
  --background: black;
  --foreground: white;
  --bg-theme: #1F1F1F;
  --text-color-theme: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
  }
}

body {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
